[run]
omit =
    */connection_sample.py
    */__init__.py
    */connections.py

[report]
exclude_lines =
    if __name__ == .__main__.:
    except ModuleNotFoundError:
    from conductor.connection_sample import DB
