name: Build and Test

on:
  push:
    paths:
    - 'src/conductor/**'
    - '.github/workflows/ci.yml'
  pull_request:
    paths:
    - 'src/conductor/**'
    - '.github/workflows/ci.yml'

jobs:
  test:
    name: Setup, Build, and Test
    runs-on: ubuntu-latest

    steps:
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Checkout
      uses: actions/checkout@v2

    - name: Install conductor
      run: pip install .[tests,cloud-run]

    - name: Test with pytest
      run: pytest

    - name: Report coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./cov.xml
